body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
